@import '@picocss/pico';
:root {
  --sidebar-width: 180px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper, #app {
  height: inherit;
}

.timer {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.timer > header {
  text-align: center;
}

.timer > section {
  flex: 3;
  display: grid;
  place-content: center;
}

.wrapper > aside {
  width: var(--sidebar-width);
  position: absolute;
  transition: transform 300ms ease-in-out;
  left: -100%;
  transform: translateX(-100%);
  height: 100vh;
}

.table-container {
  overflow: auto;
  height: inherit;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-left: var(--sidebar-width);
  }

  .wrapper > aside {
    left: 0;
    transform: translateX(0);
  }
}