@import '@picocss/pico';

html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: inherit;
}

.timer {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.timer > header {
  text-align: center;
}

.timer > section {
  flex: 3;
  display: grid;
  place-content: center;
}

.timer > footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
